<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <link rel="stylesheet" href="./../css/style.css" />
    <link rel="stylesheet" href="./../css/general.css">
    
    <title>Majid | Tailors</title>
  </head>
  <body>
    <!-- Home Page -->
    <section class="home">
      <div class="hero-container">
        <h1 class="pri-heading">Majid Tailors</h1>
        <div class="home-btns">
          <button class="btn btn-add-measurement">Add Measurment</button>
          <button class="btn btn-see-measurements">See All Measurments</button>
        </div>
      </div>

    </section>

    <div class="all-measurements-wrapper hide">
    <section class="all-measurements">
      <aside class="sidebar">
        <div class="sidebar-btns">
          <button class="btn-sidebar btn-home">Home</button>
          <button class="btn-sidebar ">Customers</button>
          <button class="btn-sidebar btn-measurements">Measurements</button>
          <button class="btn-sidebar ">Karigars</button>
        </div>
      </aside>
      <div class="measurements">
        <ul class="measurement-list">
          <!-- <li class="list-item-header">
            <p>Name</p>
            <p>No Suits</p>
            <p>Return date</p>
          </li> -->
          <!-- <li class="list-item">
            <p>Abdullah</p>
            <p>2</p>
            <p>02/02/25</p>
          </li> -->
         
        </div>
   
    </section>
    </div>
    <script src="./../../renderer/renderer.js" type="module"></script>
  </body>
</html>
